.card-body img {
    height: 100%;
    width: auto;
}

input:not([type=checkbox],[type=radio]), label, textarea, select {
    display: block;
    width: 100%;
    padding: .5rem;
} 

.z {
    display: flex;
    flex-direction: column;
    width: 100%;
}


label {
    font-weight: 500;
    font-size: 20px;
    padding-top: 2rem;
}

.inline label {
    display: inline;
    padding: 1rem;
}

h3 {
    font-size: 20px;
    padding: 1rem;
    font-weight: 500;
}

.btn {
    padding: 1rem;
}

button {
    padding: 0.4rem 1rem;
    text-transform: uppercase;
    border-radius: 6px;
    color: #fff;
    background-color: #1c7cd5;
    
}

